@charset "UTF-8";
$page_bg_color: #f5f6fb;
$borderColorE6: #e6e6e6;

$color_scheme: #409fff;
$color_primary: #56cbcb;
$color_primary_red: #ee674c;
$color_primary_black: #181c1f;

$color_cool: #f5f6fb;
$c-333: #333;
$c-666: #666;
$c-999: #999;

$borderColorEE: #eeeeee;
$borderColorDF: #dfdfdf;
$borderColorE0:#e0e0e0;
$borderRadius: 5px;

$borderColor: #e6e6e6;

$lightMainColor: #ff706a;

$colorE6: #e6e6e6;
$colorBD: #bdbdbd;
$colorE0: #e0e0e0;
$colorDF: #dfdfdf;

$colorF5: #f5f5f5;

$static_path: 'http://p0mdjahro.bkt.clouddn.com';

